.chartContainer {
    width: 600px;
    height: 400px;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .styled-button:hover {
    background-color: #02c2af;
  }