<div class="login-container">
  <div class="login-card">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2 class="login-heading">Login</h2>
    <form class="login-form" (submit)="login(email)">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn-login" [disabled]="login_btn_signal()">
          <ng-container *ngIf="!login_btn_signal(); else spinner">
            Login
          </ng-container>
          <ng-template class="spinner" #spinner>
            <mat-spinner color="white" style="zoom:0.3" class="spinner"></mat-spinner>
          </ng-template>
        </button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
</div>
